TZ=Europe/Berlin

POSTGRES_DB=authelia
POSTGRES_USER=authelia

# SMTP relay integration (https://github.com/sidey79/smtp-relay-docker)
SMTP_HOST=smtp-relay
SMTP_PORT=25
SMTP_SENDER=noreply@example.com
